.sideNavBarSize {
    width: 15% !important; 
    height: 100% !important;
    margin-left: -250px;
    transition: 1s;
    position: fixed !important;
    left: 0 !important;
    z-index: 10;
}

.sideNavBarSize:hover {
    transition: 0.5s;
    margin-left: 0px;
}